<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.example"
    versionCode = "101" 
    version     = "10.06.14" >

    <!-- versionCode is optional and Android only -->

    <name>social login app</name>

    <description>
      Just testing social login app
    </description>

    <author href="http://www.vantagewebtech.com" email="priyanka.vantage123@gmail.com">
      Rinku Kamboj
    </author>
	
	  <access origin="*"/>    
    <plugin name="cordova-plugin-whitelist" version="1" />
	<plugin name="com.phonegap.plugins.facebookconnect" spec="0.9.0" source="pgb">
		<param name="APP_ID" value="396797113702689" />
		<param name="APP_NAME" value="Bluesails" />
	</gap:plugin>
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
</widget>